# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
local_settings.py

# PyCharm / IDE
.idea/
*.iml
.vscode/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db